
.row{
    margin-top: 1% !important;
}

/* .tableApp{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.card-stat {
    text-align: center;
    width: 100%;
  }
  
  .card-stat .card-title {
    color: #FFF;

text-align: center;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: normal;
  }
  
  .card-stat .h2 {
    color: #FFF;

text-align: center;
font-family: Montserrat;
font-size: 74px;
font-style: normal;
font-weight: 900;
line-height: normal;
    color: #FFF;
  }
  
  

  .Cbg1{
    border-radius: 30px;
background: #0B569E;
  }
  .Cbg2{
    border-radius: 30px;
background: #FF7900;
  }
  .Cbg3{
    border-radius: 30px;
background: #49A8BC;
  }

  .table tr td img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
  }

  .table tr td {
    display: block;
    
  }

  .table td{
    border-top: none;
  }
  tbody, td, tfoot, th, thead, tr {
    border-style: none;
  }
  table,tbody, tr{
    border-bottom: 1px solid rgb(209, 207, 207);
  }
  
  /*heart button*/
  .heart-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s;
  }
  
  .heart-button.liked {
    transform: scale(1.2);
  }
  
  .heart-icon {
    color: red;
    font-size: 24px;
    transition: color 0.2s;
  }
  
  .heart-button:hover .heart-icon {
    color: darkred;
  }

  .profileIMG{
    width: 100%;
    height: 80% !important;
}